APP_ENV=development
APP_PORT=3000
APP_NAME=AICademy

DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=5432
DB_SSLMODE=disable

JWT_SECRET=your_secure_jwt_secret_key_minimum_32_characters
JWT_EXPIRE_HOURS=24

# Sentry Configuration
SENTRY_DSN=your_sentry_dsn
SENTRY_ENVIRONMENT=
SENTRY_RELEASE=your_sentry_release #v1.0.0
SENTRY_SAMPLE_RATE=your_sentry_rate #1.0
SENTRY_TRACES_SAMPLE_RATE=your_sentry_sample_rate #0.1

# Gemini API Key (contoh Gemini)
GEMINI_API_KEY=your_gemini_api_key_here

# Default admin
DEFAULT_ADMIN_PASSWORD=set_the_admin_default_password

# SMTP
SMTP_HOST=your_smtp_host_here
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
EMAIL_FROM=your_smtp_email_origin
CLIENT_ORIGIN=your_smtp_client_origin

# Redis
REDIS_HOST=your_redis_host          
REDIS_PORT=your_redis_port
REDIS_DB=0                 # default DB index
# REDIS_PASSWORD=supersecret  # uncomment kalau kamu set password di redis.conf
REDIS_TTL_SECONDS=60       # TTL default untuk cache (opsional)

R2_BUCKET_NAME=your_r2_name
R2_ACCOUNT_ID=your_r2_account_id
R2_KEY_ID=your_r2_key_id
ACCESS_KEY_SECRET=your_r2_secret_key
OBJECT_STORAGE_URL=your_r2_object_storage_url
# Route listing (for Docker/CLI)
ROUTE_LIST=0
ROUTE_PREFIX=

CORS_ALLOW_ORIGINS=set_your_cors_origin_here
CORS_ALLOW_METHODS=set_your_cors_allowed_methods_here #ex: GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOW_HEADERS=set_your_cors_allowed_header_here #ex: Origin,Content-Type,Accept,Authorization,Sec-Fetch-Mode,Sec-Fetch-Site,User-Agent
CORS_ALLOW_CREDENTIALS=true
